[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
boto3 = "*"
flake8 = "*"
black = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
